body{
  font-family: 'Anton';
 background-image: url('../GRAPHICS/back.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  color: white;

}
@import url('http://fonts.cdnfonts.com/css/space-quest');
a {
    color: white;
    text-decoration: none;
   
}
.nav-link {
    color: white;

    font-style: italic;
    font-family: 'Space Quest', sans-serif;
}
a:hover,
.nav-link:hover ,
.nav-item:hover {  color: yellow; }
.scriptBasic {
    f
  font: 400 50px/0.8 'Great Vibes', Helvetica, sans-serif;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
  margin: 20px;
}
.c {
    background-color: transparent;
    font-family: 'Space Quest', sans-serif;
}
.nav-item{ color:white; font-style: italic;}
.nav-item:hover{color:white;}
.mfont{ font-family:Impact, fantasy; font-style: italic; font-weight: 100;}
.hfont{font-family: Snell Roundhand, cursive;}
.sfont{ font-size: 4vw; font-weight:  bold;  font-family: sans-serif ; }
.mtitle {
    font-size: 3vw;

    font-family: 'Space Quest', sans-serif;
    font-style: italic;
    text-transform: uppercase;
}
.minner{ font-family: 'Anton' ; }
.minner2{font-size: 25px;  font-family: 'Anton' ;}
.minner3{font-size: 25px;   }
.terms {
    font-size: 20px;
    
}
.terms2 {
    font-size: 15px; font-family:'Anton'; font-weight:normal;
}
.terms3 {
    font-size: 18px;
    font-family:'Times New Roman';
    font-weight: normal;
}
.folder {
    border: 4px solid #7ED4C0;
}
.titl{font-size:20px;
}
.listofitems {
    width: 100%;
    background-color: #FF5590;
    padding: 20px;
    text-align:center;
}
.loitext{
    color:black; 
    font-weight:normal;
    font-size:25px;
}
.loibox{ width:90%; margin:auto; background-color:white; height:100px; margin:10px;}
.plrprev {
    background: rgba(217, 189, 103, 0.8);
    padding: 10px;
}
.looksbtn {
    background-color: #59B4FF;
    color: black;
    border-radius: 20px;
     width:150px;
    margin-top:20px;
    border: 2px solid white;
    font-weight:bold;
    border-style:double;
}
.avatar {
    background: rgba(173, 121, 186, 0.8);
    padding: 20px;
    font-family:'Times New Roman';
}

.date{font-size:18px; font-family:'Times New Roman';}
.files {
    font-size: 15px;
    font-family: 'Times New Roman';
}
#search {
    border: 3px solid #5CE1E6;
}
.flab {
    background-color: #86D2E3; color:white; font-family:'Anton'; font-size:25px; 
}
.event {
    background: rgba(130, 55, 128, 0.7);
    color: white;
    height:150px;
    padding:20px;
    margin:10px;
}
.customb {
    background: rgba(130, 55, 128, 0.7);
    border: none;
    color: white;
}
#btnpub {
    background-color: #FFDE59;
    font-weight: bold;
    padding: 5px;
}
    .customb:focus {
        background: rgba(130, 55, 128, 0.7);
        border: none;
        border-style: none;
        color: white;
    }
#mySwitch:checked {
    color: rgba(130, 55, 128);
}
#check1:checked {
    background-color: transparent;
    border-color: #86D2E3
}
.menufont {
    font-size: 3vw;
    font-family: 'Anton';
}
.tb{ border: none; background-color :transparent; color: white; font-size:20px; font-family:'Anton'; margin: 0px 5px 0px 5px;}
#trmsbox {
    box-shadow: 0px 0px 15px 1px white;
   
}
.bton {
    border: none;
    border-radius: 10px;
    min-width: 50px;
    max-width: auto;
    font-family: 'Anton';
    background-image: linear-gradient(to bottom, #f0f0f3 0%, #393185 50%);
    color: #FFDE59;
    font-size: 3vw;
    min-height: 20px;

}
.bton2 { border: none; border-radius: 10px; min-width: 20%;
         font-family:'Anton';
        background-image: linear-gradient(to bottom, #f0f0f3 0%, #393185 50%); 
        color: #FFDE59; font-size: 2vw; min-height: 20px;   }
.btonw {
    border: none;
    border-radius: 10px;
    min-width: 20%;
    background-image: linear-gradient(to bottom, #f0f0f3 0%, #393185 50%);
    color: white;
    font-size: 25px;
    min-height: 20px;
    font-family:'Anton';
  
}
.btonw2 {
    border: none;
    border-radius: 5px;
    min-width: 20%;
    background-color: #5C6BC0;
    color: white;
    font-size: 25px;
    font-family:'Anton';
    min-height: 20px;
 
}
.btonw22 {
    font-family:'Anton';
    border: none;
    border-radius: 5px;
    min-width: 20%;
    background-color: #86D2E3;
    color: white;
    font-size: 25px;
    min-height: 20px;
   
}
.menulink{ color:white; text-decoration :none; font-style:normal; font-family:'Anton'; }
input {font-size: 20px;}
.avail {background-color: blue;}
.notavail{background-color: red;}
#chart{background-color: transparent;}
.chart-container {
  background-color: transparent;
  width: 80%;
  height: 80%;
  margin: auto;
}
#div1 {
    margin: -.5em auto;
    text-align: center;
    width: 90%;
    height: 390px
}

.trapezoid {
    border-bottom: 300px solid #7ED957;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0px;
    width: 50%;
    margin: auto;
}
@media screen and (min-width: 601px) {
  div.minner {
    font-size: 20px;
  }
    .menufont {
        font-size: 4vw;
        font-family: sans-serif;
    }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  div.minner {
    font-size: 10px;
  }
    .menufont {
        font-size: 20px;
        font-family: sans-serif;
    }
}