body{
  font-family: times new Roman;
 background-image: url('../GRAPHICS/back.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  color: white;
}
a{color:white; text-decoration:none;}
.nav-link{ color: white;font-weight: bold ;font-style: italic;}
a:hover,
.nav-link:hover ,
.nav-item:hover {  color: yellow; }
.scriptBasic {
  font: 400 50px/0.8 'Great Vibes', Helvetica, sans-serif;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
  margin: 20px;
}
.c{ background-color: transparent;}
.nav-item{ color:white; font-style: italic;}
.nav-item:hover{color:white;}
.mfont{ font-family:Impact, fantasy; font-style: italic; font-weight: 100;}
.hfont{font-family: Snell Roundhand, cursive;}
.sfont{ font-size: 4vw; font-weight:  bold;  font-family: sans-serif ; }
.mtitle{font-size: 3vw;font-weight:  bold;  font-family: sans-serif ; font-style: italic; text-transform: uppercase;}
.minner{font-size: 20px;font-weight:  bold;  font-family: sans-serif ;}
.minner2{font-size: 25px;font-weight:  bold;  font-family: sans-serif ;}
.minner3{font-size: 25px;  font-family: sans-serif ;}
.terms {
    font-size: 20px;
    
}
.folder {
    border: 4px solid #7ED4C0;
}
.titl{font-size:20px; font-weight:bold;
}
.date{font-size:18px;}
.files{font-size:15px;}
#search {
    border: 3px solid #5CE1E6;
}
.menufont {
    font-size: 3vw;
    font-family: sans-serif;
}
.tb{ border: none; background-color :transparent; color: white; font-size:20px; font-family:sans-serif; margin: 0px 5px 0px 5px;}
#trmsbox {
    box-shadow: 0px 0px 15px 1px white;
   
}
.bton { border: none; border-radius: 10px; min-width: 50px;max-width: auto;
        background-image: linear-gradient(to bottom, #f0f0f3 0%, #393185 50%); 
        color: #FFDE59; font-size: 3vw; min-height: 20px; font-weight: bold;  }
.bton2 { border: none; border-radius: 10px; min-width: 20%;
        background-image: linear-gradient(to bottom, #f0f0f3 0%, #393185 50%); 
        color: #FFDE59; font-size: 2vw; min-height: 20px; font-weight: bold;  }
.btonw {
    border: none;
    border-radius: 10px;
    min-width: 20%;
    background-image: linear-gradient(to bottom, #f0f0f3 0%, #393185 50%);
    color: white;
    font-size: 25px;
    min-height: 20px;
    font-weight: bold;
}
.btonw2 {
    border: none;
    border-radius: 5px;
    min-width: 20%;
    background-color: #5C6BC0;
    color: white;
    font-size: 25px;
    min-height: 20px;
    font-weight: bold;
}
.menulink{ color:white; text-decoration :none; font-style:normal; font-weight:normal;}
input {font-size: 20px;}
.avail {background-color: blue;}
.notavail{background-color: red;}
#chart{background-color: transparent;}
.chart-container {
  background-color: transparent;
  width: 80%;
  height: 80%;
  margin: auto;
}
#div1 {
    margin: -.5em auto;
    text-align: center;
    width: 90%;
    height: 390px
}

.trapezoid {
    border-bottom: 300px solid #7ED957;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0px;
    width: 50%;
    margin: auto;
}
@media screen and (min-width: 601px) {
  div.minner {
    font-size: 20px;
  }
    .menufont {
        font-size: 4vw;
        font-family: sans-serif;
    }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  div.minner {
    font-size: 10px;
  }
    .menufont {
        font-size: 20px;
        font-family: sans-serif;
    }
}